
.black-white {
  background-color: black;
  color: red;
  border-color: red;
  height: 36px;
  width: 100px;
  cursor: pointer;
  margin-right: 8px;
  text-decoration: underline;
}


.greeen-white:hover {
  background-color: gray;
}

.greeen-white:active {
  background-color: pink;
}

.greeen-white {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(3, 44, 3);
  color: white;
  border: red;
  height: 36px;
  width: 100px;
  cursor: pointer;
  margin-right: 8px;
}

.black-white:hover {
  background-color: gray;
  height: 40px;
  width: 120px;
}
